// About
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 243, 243);
}
.about h2 {
    display: flex;
    text-align: center;
}
.about__paragraphe {
    display: flex;
    margin-top: 1px;
}