footer {
    background-color: $footer-color;
    .footer__logo {
        display: flex;
        padding-top: 2rem;
        font-family: $font-shrikland;
        color: white;
        justify-content: center;
    }
    .footer__contain {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        .footer__contain__info {
            display: flex;
            justify-content: center;
            color: white;
            gap: 0.5rem;
            .footer__contain__text {
                display: flex;
                margin: 0;
            }
            .footer__contain__icon{
                display: flex;
                margin: 0;
            }
        }
    }
}





