// Restaurants 
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}
.restaurants__title {
    margin: 20px;
    margin-top: 3rem;
}
.restaurants__card__bloc {
    display: flex;
    justify-content: space-around;
    margin-top: -1rem
}
.restaurants__card {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 100%;
    max-width: 100%;
    margin: 1rem;
    box-shadow: 2px 2px 8px lightgrey;
    border-radius: 1rem;
}
.restaurants__card__img {
    display: flex;
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.restautants__card__badge {
    background-color: $tertiaire;
    color: green;
    padding: 10px 10px;
    border-radius: 3px;
    position: absolute;
    right: 8px;
    top: 12px;
    margin: 0;
}
.restaurants__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 16px;
    margin-left: 16px;
}
.restaurants__card__text1 {
    display: flex;
   
}
.restaurants__card__text2 {
    display: flex;
    margin-top: -1rem;
    font-weight: 300;
}
