// Couleurs
$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;
$shadow-color : #c4c3c0;
$footer-color : #353535;
$localisation-color : #eaeaea;
$background-color : #f6f6f6;


// Font-family
$font-roboto :'Roboto', sans-serif;
$font-shrikland : 'Shrikhand', cursive;

     